/* webpage styling */
/* .container-fluid {
  background-color: lightgrey;
} */

/* .well {
  color: black;
} */

.parallax {
    /* The image used */
    background-image: ![](photo/image_24.jpg)

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#linegraph {
  left: 4.5%;
  zoom: 90%;
}

#dendrogram {
  left: 5.5%;
  zoom: 90%;
  border-style: dotted;
}

.dropdown {
  left: 75%;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
}

.yearLabel {
  fill: #ccc;
  fill-opacity: 0.3;
  stroke: #666;
  stroke-width: 1.5px;
}

#checkmark {
  opacity:0;
  @include transition(opacity 0.25s ease-out);
}

/* for lines */

#linechart {
  padding: 60px;
}

.lines {
 stroke-width: 3px;
 fill: none;
}

#lineMen {
  fill: none;
  stroke: #66c2a5;
}

#lineAmbt {
  fill: none;
  stroke: #fc8d62;
}

#lineEu {
  fill: none;
  stroke: #8da0cb;
}

#linePers {
  fill: none;
  stroke: #e78ac3;
}

#linePolitie {
  fill: none;
  stroke: #a6d854;
}

#lineRechters {
  fill: none;
  stroke: #ffd92f;
}

#lineTweedeKamer {
  fill: none;
  stroke: #e5c494;
}

#linegraphTitle {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(252, 243, 0, 0.4);
}
/* textual elements in linegraph */

.ticks {
  font-size: 10px;
}

.x-axis {
  font-size: 15px;
  font-family: sans-serif;

}

.y-axis {
  font-size: 13px;
  font-family: sans-serif;

}

.x-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.x-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;

}

.y-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.y-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.grid line {
  stroke: lightgrey;
  stroke-dasharray: 5, 5;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid2 line {
  stroke: lightgrey;
  stroke-dasharray: 5, 5;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#popInGraph {
  font-family: sans-serif;
  font-size: 20px;
  color: rgba(252, 243, 0, 0.4);
  opacity: 0.7;
}

#legendbox {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.tick:hover {
  font-weight: bolder;
  opacity: 0.7;
}

/* dendrogram  */

.node circle {
  fill: #d6604d;
  stroke: #d6604d;
  stroke-width: 3px;
  opacity: 0.7;
}

.node text {
  font: 15px sans-serif;
}

.link {
  fill: none;
  stroke: grey;
  stroke-width: 2px;
  opacity: 0.7;

}

#reccit {
  opacity: 0.9;

}

#yearInDendro {
  font-family: sans-serif;
  font-size: 30px;
  /* font-style: italic; */
  text-decoration: underline;
  color: rgba(252, 243, 0, 0.4);
  opacity: 0.7;
}


#dendroTitle {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(252, 243, 0, 0.4);
}
