#linegraph {
  /* position: absolute; */
  /* top: 85%;
  left: 58%;
  transform: translate(-50%, -50%); */
}

#dendrogram {
  left: 2%;
  border-style: dotted;
}

/* ?????? */
/* #graphLegend {
  left: 100%;
  border-style: dotted;
} */

.text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
}

.yearLabel {
  fill: #ccc;
  fill-opacity: 0.3;
  stroke: #666;
  stroke-width: 1.5px;
}

#checkmark {
  opacity:0;
  @include transition(opacity 0.25s ease-out);
}

/* for lines */

#linechart {
  padding: 60px;
}

#lines {
 stroke-width: 3px;
 fill: none;
}

.lineMen {
  fill: none;
  stroke: #d53e4f;
}

.lineAmbt {
  fill: none;
  stroke: #fc8d59;
}

.lineEu {
  fill: none;
  stroke: #fee08b;
}

.linePers {
  fill: none;
  stroke: #ffffbf;
}

.linePolitie {
  fill: none;
  stroke: #e6f598;
}

.lineRechters {
  fill: none;
  stroke: #99d594;
}

.lineTweedeKamer {
  fill: none;
  stroke: #3288bd;
}

/* textual elements in linegraph */

.ticks {
  font-size: 10px;
}

.x-axis {
  font-size: 15px;
  font-family: avenir;

}

.y-axis {
  font-size: 13px;
  font-family: avenir;

}

.x-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.x-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;

}

.y-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.y-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

/* dendrogram  */

.node circle {
  /* fill: #999; */
  /* stroke: #000000; */
  stroke-width: 2px;
}

.node text {
  font: 15px avenir;
}

.link {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}
