body {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.arrow {
  stroke: #000;
  stroke-width: 1.5px;
}

.outer,
.inner {
  shape-rendering: crispEdges;
}

.outer {
  fill: none;
  stroke: #000;
}

.inner {
  fill: rgb(255,255,255);
  stroke: #000;
  stroke-dasharray: 3, 4;
}

#linegraph {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dendrogram {
  position: absolute;
  top: 185%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: bold;
}

/* for lines */
path {
  stroke: black;
  stroke-width: 2px;
  fill: none;

}

#linechart {
  padding: 20px;
  border-style: dotted;
  border-width: 2px;
}

.lineVer {
  fill: none;
  stroke: #d53e4f;
  stroke-width: 2px;
}
