/* Name: Michael Zonneveld
** Studentnumber: 11302984
** Date: 28/06/18 */

.seperator {
  position: fixed;
  top: 56px;
  width: 100%;
  height: 8px;
  background-color: white;
}

.parallax {
  /* image */
  background-image: url(https://images.unsplash.com/photo-1522241974502-60adebad071f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=119076a0d9f8839e4130ab236f540ade&auto=format&fit=crop&w=1634&q=80);
  min-height: 400px;

  /* scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#linegraph {
  left: 4.5%;
  zoom: 90%;
}

.dropdown {
  left: 75%;
}

.yearLabel {
  fill: #ccc;
  fill-opacity: 0.3;
  stroke: #666;
  stroke-width: 1.5px;
}

#checkmark {
  opacity:0;
  @include transition(opacity 0.25s ease-out);
}

/* for the lines */

#linechart {
  padding: 60px;
}

.lines {
 stroke-width: 3px;
 fill: none;
}

#lineMen {
  fill: none;
  stroke: #66c2a5;
}

#lineAmbt {
  fill: none;
  stroke: #fc8d62;
}

#lineEu {
  fill: none;
  stroke: #8da0cb;
}

#linePers {
  fill: none;
  stroke: #e78ac3;
}

#linePolitie {
  fill: none;
  stroke: #a6d854;
}

#lineRechters {
  fill: none;
  stroke: #ffd92f;
}

#lineTweedeKamer {
  fill: none;
  stroke: #e5c494;
}

#linegraphTitle {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(252, 243, 0, 0.4);
}

/* textual elements in linegraph */

.ticks {
  font-size: 10px;
}

.x-axis {
  font-size: 15px;
}

.y-axis {
  font-size: 13px;
}

.x-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.x-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.y-axis path {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.y-axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.grid line {
  stroke: lightgrey;
  stroke-dasharray: 5, 5;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid2 line {
  stroke: lightgrey;
  stroke-dasharray: 5, 5;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#popInGraph {
  font-size: 20px;
  color: rgba(252, 243, 0, 0.4);
  opacity: 0.7;
}

#legendbox {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.tick:hover {
  font-weight: bolder;
  opacity: 0.7;
}

/* dendrogram  */

#denTitle, #denLead {
  zoom: 120%;
}

#dendrogram {
  left: 5.5%;
  zoom: 80%;
}

.node circle {
  fill: #d6604d;
  stroke: #d6604d;
  stroke-width: 3px;
  opacity: 0.7;
}

.node text {
  font: 15px sans-serif;
}

.link {
  fill: none;
  stroke: grey;
  stroke-width: 2px;
  opacity: 0.7;
}

#reccit {
  opacity: 0.9;
}

#yearInDendro {
  font-family: sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: rgba(252, 243, 0, 0.4);
  opacity: 0.7;
}


#dendroTitle {
  font-size: 18px;
  font-weight: 500;
  color: rgba(252, 243, 0, 0.4);
}
